{% extends 'base.html' %}
{% block content %}

<div class="card">
  <h5 class="card-header">{{ pet.name }}</h5>
  <div class="card-body">
    <h5 class="card-title">Осталось собрать: {% if pet.needed > pet.balance %}{{pet.needed - pet.balance}}{% else %}0{% endif %} руб</h5>
    <p class="card-text">
        {{ pet.species.name }} по кличке {{ pet.name }} требуется ваша помощь!<br/>
        Необходимо собрать {{ pet.needed }} руб. <br/>
        На данный момент собрано {{ pet.balance }} руб.
        Осталось собрать: {% if pet.needed > pet.balance %}{{pet.needed - pet.balance}}{% else %}0{% endif %} руб
    </p>
    {% if current_user.id == pet.owner_id %}
    <a href="{{ url_for('pet_edit', id=pet.id) }}">Редактировать</a>
    {% endif %}
  </div>
</div>
    
{% endblock %}