<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <label for="name">Кличка</label>
    <input type="text" name="name" value="{{ pet.name }}" readonly/>

    <label for="species">Вид</label>
    <input type="text" name="name" value="{{ pet.species.name }}" readonly/>

    <label for="needed">Нужно</label>
    <input type="number" name="needed" min="0" value="{{ pet.needed }}" readonly/>

    <label for="balance">Собрано</label>
    <input type="number" name="balance" min="0" value="{{ pet.balance }}" readonly/>

    <label for="left">Осталось собрать</label>
    <input type="number" name="left" min="0" value="{% if pet.needed > pet.balance %}{{pet.needed - pet.balance}}{% else %}0{% endif %}" readonly/>

    {% if current_user.id == pet.owner_id %}
    <a href="{{ url_for('pet_edit', id=pet.id) }}">Редактировать</a>
    {% endif %}
</body>
</html>