<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <form action="{{ url_for('pet_edit', id=pet.id) }}" method="post">
        <label for="name">Кличка</label>
        <input type="text" name="name" value="{{ pet.name }}" required/>

        <label for="species">Вид</label>
        <select name="species" required>
            {% for item in species %}
            <option value="{{ item.id }}" {% if item.id==pet.species_id %}selected{% endif %}>{{ item.name }}</option>
            {% endfor %}
        </select>

        <label for="needed">Нужно</label>
        <input type="number" name="needed" min="0" value="{{ pet.needed }}" required/>

        <button type="submit">Сохранить</button>
    </form>
</body>
</html>