{% extends 'base.html' %}

{% block content %}
{% if msg %}
<div class="alert alert-danger" role="alert">
  {{ msg }}
</div>
{% endif %}
<div class="container-fluid">
    {% if current_user.is_authenticated %}
    <div class="row">
        <div class="col d-flex justify-content-end">
            <a class="btn btn-primary" href="{{ url_for('pet_add') }}">Добавить</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
    {% for pet in pets %}
        <div class="col-2">
            <div class="card">
                <img src="{{ url_for('static', filename='images/pets/'+pet.file) }}" class="img-fluid card-img-top d-block mx-auto" width="250" height="250">
                <div class="card-body">
                    <h5>{{ pet.species.name }} {{ pet.name}}</h5>
                    <p class="card-text">
                        Собрано {{ pet.balance }} руб. <br>
                        Осталось собрать {% if pet.needed > pet.balance %}{{pet.needed - pet.balance}}{% else %}0{% endif %} руб.
                    </p>
                    <a href="{{ url_for('pet_details', id=pet.id) }}" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}