<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <form action="{{ url_for('register') }}" method="post">
        <label for="fullname">ФИО</label>
        <input type="text" name="fullname"/>
        <label for="nickname">Псевдоним</label>
        <input type="text" name="nickname"/>
        <label for="address">Адрес</label>
        <input type="text" name="address"/>
        <label for="email">e-mail</label>
        <input type="text" name="email"/>
        <label for="password">Пароль</label>
        <input type="password" name="password"/>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>